absl-py==0.15.0
aiofiles==0.7.0
aiohttp==3.7.4.post0
animatplot==0.4.2
aniso8601==9.0.1
anyio==3.3.4
appdirs==1.4.4
application-utility==1.3.2
argcomplete==1.12.1
argh==0.26.2
argon2-cffi==21.1.0
art==5.3
asgiref==3.4.1
astroid==2.8.3
astunparse==1.6.3
async-exit-stack==1.0.1
async-generator==1.10
async-timeout==3.0.1
attrs==21.2.0
autopep8==1.5.7
Babel==2.9.1
backcall==0.2.0
backports.entry-points-selectable==1.1.0
bashlex==0.16
Beaker==1.11.0
beautifulsoup4==4.9.1
bidict==0.21.3
black-but-with-tabs-instead-of-spaces==19.11
bleach==4.1.0
blessed==1.19.0
blessings==1.7
bpython==0.21
Brlapi==0.8.3
Brotli==1.0.9
brotlipy==0.7.0
bs4==0.0.1
btrfsutil==5.15
bump2version==1.0.1
bumpversion==0.6.0
CacheControl==0.12.6
cachelib==0.4.1
cachetools==4.2.4
cattrs==1.8.0
ceph==1.0.0
ceph-volume==1.0.0
cephfs==2.0.0
cephfs-shell==0.0.1
certifi==2021.10.8
cffi==1.15.0
cfgv==3.3.1
cfscrape==2.1.1
chardet==4.0.0
charset-normalizer==2.0.7
clang==11.0
clang-format==13.0.0
click==8.0.3
cloudscraper==1.2.58
cmake-language-server==0.1.3
cmakelang==0.6.13
cmd2==2.2.0
colorama==0.4.3
coloredlogs==15.0.1
colour==0.1.5
commonmark==0.9.1
compdb==0.2.0
compiledb==0.10.1
contextlib2==21.6.0
coverage==6.0.2
cryptography==35.0.0
curtsies==0.3.5
cwcwidth==0.1.4
cycler==0.10.0
Cython==0.29.24
dateparser==1.1.0
dbus-python==1.2.18
debugpy==1.5.1
decorator==5.1.0
defusedxml==0.7.1
distlib==0.3.3
distro==1.6.0
Django==3.2.8
djangorestframework==3.12.4
dlib==19.22.1
dnspython==2.1.0
docopt==0.6.2
docstring-to-markdown==0.9
docutils==0.17.1
doq==0.8.1
easyocr==1.4.1
EditorConfig==0.12.3
email-validator==1.1.3
entrypoints==0.3
epc==0.0.5
evdev==1.4.0
eventlet==0.32.0
ExifRead==2.3.2
face-recognition==1.3.0
face-recognition-models==0.3.0
fastapi==0.70.0
ffmpeg-python==0.2.0
ffmpy==0.3.0
file-magic==0.4.0
filelock==3.3.1
fire==0.4.0
flashfocus==2.2.4
Flask==1.1.2
Flask-Compress==1.10.1
Flask-Cors==3.0.8
Flask-Session==0.4.0
Flask-SocketIO==5.1.1
flatbuffers==2.0
freegames==2.3.2
future==0.18.2
fuzzywuzzy==0.18.0
gast==0.5.2
gdbgui==0.15.0.1
gevent==21.8.0
gevent-websocket==0.10.1
git-filter-repo==2.33.0
glcontext==2.3.4
glib==1.0.0
google-auth==2.3.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googletrans==3.0.0
graphene==2.1.9
graphql-core==3.1.6
graphql-relay==3.1.0
graphviz==0.17
greenlet==1.1.2
grpcio==1.41.0
gufw==21.4.0
h11==0.12.0
h2==4.1.0
h5py==3.4.0
hpack==4.0.0
hstspreload==2021.10.1
html2text==2020.1.16
html5lib==1.1
httpcore==0.13.7
httpie==2.6.0
httptools==0.3.0
httpx==0.20.0
humanfriendly==10.0
hurry.filesize==0.9
hyperframe==6.0.1
i3ipc==2.2.1
identify==2.3.0
idna==3.3
imageio==2.9.0
imgcat==0.5.0
importlib-metadata==4.8.1
importmagic==0.1.7
inquirer==2.7.0
install==1.3.4
ipykernel==6.4.2
ipython==7.28.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
isort==5.9.3
itsdangerous==2.0.1
jedi==0.18.0
jeepney==0.7.1
Jinja2==3.0.2
Js2Py==0.71
jsbeautifier==1.14.0
json5==0.9.6
jsonschema==4.1.1
jupyter-client==7.0.6
jupyter-core==4.8.1
jupyter-server==1.11.1
jupyterlab==3.2.0
jupyterlab-pygments==0.1.2
jupyterlab-server==2.8.2
jupyterlab-widgets==1.0.2
keras==2.6.0
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
keyring==23.2.1
keyutils==0.6
Kivy==2.0.0
Kivy-Garden==0.1.4
kivymd==0.104.2
kiwisolver==1.3.2
kping==0.1.0
lazy-object-proxy==1.6.0
legendary-gl==0.20.16
lensfun==0.3.95
libfdt==1.6.1
libretranslatepy==2.1.1
lit==13.0.0
louis==1.3
lutris==0.5.9.1
lxml==4.6.3
Mako==1.1.5
malclient==0.1.5
manimgl==1.2.0
ManimPango==0.3.1
mapbox-earcut==0.12.10
Markdown==3.3.5
MarkupSafe==2.0.1
marshmallow==3.14.0
matplotlib==3.4.3
matplotlib-inline==0.1.3
mccabe==0.6.1
mediapipe==0.8.8.1
menulibre==2.2.3
meson==0.59.2
mistune==0.8.4
moderngl==5.6.4
moderngl-window==2.4.0
monotonic==1.6
Mopidy==3.2.0
Mopidy-MPD==3.2.0
more-itertools==8.10.0
mpl-interactions==0.19.0
mpmath==1.2.1
msgpack==1.0.2
mugshot==0.4.3
multidict==5.2.0
multipledispatch==0.6.0
mutagen==1.45.1
myanimelist-api==0.1.3
mypy-extensions==0.4.3
natsort==8.0.0
nbclassic==0.3.2
nbclient==0.5.4
nbconvert==6.2.0
nbformat==5.1.3
neat-python==0.92
neovim==0.3.1
neovim-gui==0.1.3
nest-asyncio==1.5.1
netsnmp-python==1.0a1
networkx==2.6.3
nodeenv==1.6.0
notebook==6.4.5
notify-send.py==1.2.7
notify2==0.3.1
npyscreen==4.10.5
numpy==1.21.2
oauthlib==3.1.1
opencv-contrib-python==4.5.3.56
opencv-python==4.5.3.56
opencv-python-headless==4.5.3.56
opt-einsum==3.3.0
ordered-set==4.0.2
orjson==3.6.4
outcome==1.1.0
packaging==21.0
packbits==0.6
pacman-mirrors==4.22.0
Panda3D==1.10.10
panda3d-gltf==0.13
panda3d-simplepbr==0.9
pandocfilters==1.5.0
parso==0.8.2
pathspec==0.9.0
pep517==0.12.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
pkginfo==1.7.1
platformdirs==2.4.0
pluggy==1.0.0
ply==3.11
polling==0.3.2
pre-commit==2.15.0
progress==1.6
prometheus-client==0.11.0
promise==2.3
prompt-toolkit==3.0.20
protobuf==3.18.1
psutil==5.8.0
ptyprocess==0.7.0
pulsemixer==1.5.1
pure-protobuf==2.0.1
py==1.10.0
py3status==3.39
pyanime4k==2.2.7
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.8.0
PyBundle==1.0.6
pycairo==1.20.1
pycodestyle==2.8.0
pycparser==2.20
pycryptodome==3.11.0
pycryptodomex==3.11.0
pycups==2.0.1
pycurl==7.44.1
pydantic==1.8.2
pydocstyle==6.1.1
pydub==0.25.1
pyflakes==2.4.0
pygame==2.0.2
pygdbmi==0.10.0.1
pyglet==1.5.21
pygls==0.11.2
Pygments==2.10.0
PyGObject==3.42.0
pyinotify==0.9.6
pyjsparser==2.7.1
PyJWT==2.3.0
pykka==3.0.2
pyls-black==0.4.7
pyls-isort==0.2.2
pyls-mypy==0.1.8
pynvim==0.4.3
PyOpenGL==3.1.5
pyOpenSSL==21.0.0
pyparsing==2.4.7
pyperclip==1.8.2
PyQt5==5.15.5
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
PyQt5-stubs==5.15.2.0
PyQtWebEngine==5.15.5
PyQtWebEngine-Qt5==5.15.2
pyrr==0.10.3
pyrsistent==0.18.0
pysdl==1.0.6
PySide6==6.2.0
PySimpleGUI==4.51.2
pySmartDL==1.3.4
pysmbc==1.0.23
PySocks==1.7.1
pyte==0.8.0
pytesseract==0.3.8
python-bidi==0.4.2
python-dateutil==2.8.2
python-distutils-extra==2.39
python-dotenv==0.19.1
python-editor==1.0.4
python-engineio==4.2.1
python-json-logger==2.0.2
python-jsonrpc-server==0.4.0
python-language-server==0.36.2
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.4
python-mal==0.1.7
python-multipart==0.0.5
python-socketio==5.4.1
python-xlib==0.31
python3-openid==3.2.0
pytube==11.0.1
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.1.1
pyxdg==0.27
PyYAML==6.0
pyzmq==22.3.0
rados==2.0.0
ranger-fm==1.9.3
rapidfuzz==1.7.1
rbd==2.0.0
readchar==3.0.4
readme-renderer==30.0
regex==2021.10.8
reportlab==3.6.2
requests==2.26.0
requests-cache==0.8.1
requests-file==1.5.1
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
requests-unixsocket==0.2.0
resolvelib==0.8.1
retrying==1.3.3
rfc3986==1.5.0
rgw==2.0.0
rich==10.12.0
rope==0.21.0
rsa==4.7.2
ruamel.yaml==0.17.17
ruamel.yaml.clib==0.2.6
Rx==3.2.0
scikit-image==0.18.3
scipy==1.7.1
screeninfo==0.7
SecretStorage==3.3.1
selenium==4.0.0
Send2Trash==1.8.0
sexpdata==0.0.3
shiboken2==5.15.2
shiboken6==6.2.0
shutilwhich==1.1.0
six==1.16.0
sniffio==1.2.0
snowballstemmer==2.1.0
social-auth-app-django==5.0.0
social-auth-core==4.1.0
sortedcontainers==2.4.0
soupsieve==2.2.1
speedtest-cli==2.1.3
spotdl==3.8.0
spotipy==2.19.0
sqlparse==0.4.2
starlette==0.16.0
swaglyrics==1.2.2
SwSpotify==1.2.1
sympy==1.9
tabulate==0.8.9
tasklib==2.4.3
team==1.0
tekore==4.0.0
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.6.0
tensorflow-estimator==2.6.0
termcolor==1.1.0
terminado==0.12.1
tesseract==0.1.3
testpath==0.5.0
thefuck==3.31
tifffile==2021.10.12
tldextract==3.1.2
tldr==2.0.0
toml==0.10.2
tomli==1.2.1
torch==1.9.1
torchvision==0.10.1
tornado==6.1
tox==3.24.4
tqdm==4.62.3
traitlets==5.1.0
translate==3.6.1
trio==0.19.0
trio-websocket==0.9.2
twine==3.4.2
typed-ast==1.4.3
typeguard==2.13.0
types-requests==2.25.11
types-setuptools==57.4.2
types-six==1.16.2
typing-extensions==3.10.0.2
tzdata==2021.4
tzlocal==4.0.1
udiskie==2.3.3
ueberzug==18.1.9
ufw==0.36
ujson==4.2.0
Unidecode==1.1.1
url-normalize==1.4.3
urllib3==1.26.7
ursina==4.0.0
uvicorn==0.15.0
uvloop==0.16.0
validators==0.18.2
virtualenv==20.8.1
wakatime==13.1.0
watchdog==2.1.6
watchgod==0.7
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.2.1
websockets==10.0
Werkzeug==2.0.2
widgetsnbextension==3.5.1
wpm==1.51.5
wrapt==1.13.2
wsproto==1.0.0
xcffib==0.11.1
xpybutil==0.0.6
yapf==0.31.0
yarl==1.7.0
youtube-dl==2021.6.6
youtube-search-python==1.4.9
yt-dlp==2021.10.10
ytmusicapi==0.19.3
zipp==3.6.0
zope.event==4.5.0
zope.interface==5.4.0
