absl-py==0.13.0
aiofiles==0.7.0
animatplot==0.4.2
aniso8601==9.0.1
anyio==3.3.0
appdirs==1.4.4
application-utility==1.3.2
argh==0.26.2
argon2-cffi==21.1.0
art==5.3
asgiref==3.4.1
astroid==2.7.3
astunparse==1.6.3
async-exit-stack==1.0.1
async-generator==1.10
attrs==21.2.0
autopep8==1.5.7
Babel==2.9.1
backcall==0.2.0
backports.entry-points-selectable==1.1.0
bashlex==0.15
beautifulsoup4==4.9.3
bidict==0.21.3
black-but-with-tabs-instead-of-spaces==19.11
bleach==4.1.0
blessed==1.18.1
Brlapi==0.8.2
Brotli==1.0.9
brotlipy==0.7.0
bs4==0.0.1
btrfsutil==5.13.1
bump2version==1.0.1
bumpversion==0.6.0
CacheControl==0.12.6
cachelib==0.3.0
cachetools==4.2.2
ceph==1.0.0
ceph-volume==1.0.0
cephfs==2.0.0
cephfs-shell==0.0.1
certifi==2021.5.30
cffi==1.14.6
cfgv==3.3.1
cfscrape==2.1.1
chardet==4.0.0
charset-normalizer==2.0.4
clang==11.0
click==8.0.1
cloudscraper==1.2.58
cmake-language-server==0.1.2
cmakelang==0.6.13
cmd2==2.1.2
colorama==0.4.4
coloredlogs==15.0.1
compdb==0.2.0
compiledb==0.10.1
contextlib2==21.6.0
coverage==5.5
cryptography==3.4.8
cycler==0.10.0
Cython==0.29.24
debugpy==1.4.1
decorator==5.0.9
defusedxml==0.7.1
distlib==0.3.2
distro==1.6.0
Django==3.2.7
djangorestframework==3.12.4
dlib==19.22.1
dnspython==2.1.0
docopt==0.6.2
docstring-to-markdown==0.9
docutils==0.17.1
doq==0.8.1
easyocr==1.4
EditorConfig==0.12.3
email-validator==1.1.3
entrypoints==0.3
epc==0.0.5
evdev==1.4.0
eventlet==0.32.0
ExifRead==2.3.2
face-recognition==1.3.0
face-recognition-models==0.3.0
fastapi==0.68.1
ffmpeg-python==0.2.0
filelock==3.0.12
fire==0.4.0
flake8==3.9.2
flashfocus==2.2.4
Flask==2.0.1
Flask-Compress==1.10.1
Flask-Session==0.4.0
Flask-SocketIO==5.1.1
flatbuffers==2.0
future==0.18.2
fuzzywuzzy==0.18.0
gast==0.5.2
gdbgui==0.15.0.0
gevent==21.8.0
gevent-websocket==0.10.1
git-filter-repo==2.29.0
google-auth==2.0.2
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googletrans==3.0.0
graphene==2.1.9
graphql-core==3.1.6
graphql-relay==3.1.0
graphviz==0.17
greenlet==1.1.1
grpcio==1.39.0
gufw==21.4.0
h11==0.12.0
h2==4.0.0
h5py==3.4.0
hpack==4.0.0
hstspreload==2021.9.1
html2text==2020.1.16
html5lib==1.1
httpcore==0.13.6
httpie==2.4.0
httptools==0.3.0
httpx==0.19.0
humanfriendly==9.2
hurry.filesize==0.9
hyperframe==6.0.1
i3ipc==2.2.1
identify==2.2.13
idna==3.2
imageio==2.9.0
imgcat==0.5.0
importlib-metadata==4.8.1
importmagic==0.1.7
inquirer==2.7.0
install==1.3.4
ipykernel==6.3.1
ipython==7.27.0
ipython-genutils==0.2.0
ipywidgets==7.6.4
isort==5.9.3
itsdangerous==2.0.1
jedi==0.18.0
jeepney==0.7.1
Jinja2==3.0.1
Js2Py==0.71
jsbeautifier==1.14.0
json5==0.9.6
jsonschema==3.2.0
jupyter-client==7.0.2
jupyter-core==4.7.1
jupyter-server==1.10.2
jupyterlab==3.1.10
jupyterlab-pygments==0.1.2
jupyterlab-server==2.7.2
jupyterlab-widgets==1.0.1
keras==2.6.0
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
keyring==23.1.0
keyutils==0.6
Kivy==2.0.0
Kivy-Garden==0.1.4
kivymd==0.104.2
kiwisolver==1.3.2
lazy-object-proxy==1.6.0
legendary-gl==0.20.9
libfdt==1.6.1
libretranslatepy==2.1.1
lit==12.0.1
louis==1.3
lutris==0.5.8.4
lxml==4.6.3
malclient==0.1.5
Markdown==3.3.4
MarkupSafe==2.0.1
marshmallow==3.13.0
matplotlib==3.4.3
matplotlib-inline==0.1.2
mccabe==0.6.1
mediapipe==0.8.7.2
menulibre==2.2.1
meson==0.59.1
mistune==0.8.4
monotonic==1.6
more-itertools==8.9.0
mpl-interactions==0.18.0
msgpack==1.0.2
mugshot==0.4.3
myanimelist-api==0.1.3
mypy==0.910
mypy-extensions==0.4.3
nbclassic==0.3.1
nbclient==0.5.4
nbconvert==6.1.0
nbformat==5.1.3
neat-python==0.92
neovim==0.3.1
neovim-gui==0.1.3
nest-asyncio==1.5.1
netsnmp-python==1.0a1
networkx==2.6.2
nodeenv==1.6.0
notebook==6.4.3
notify2==0.3.1
npyscreen==4.10.5
numpy==1.21.2
oauthlib==3.1.1
opencv-contrib-python==4.5.3.56
opencv-python==4.5.3.56
opt-einsum==3.3.0
ordered-set==4.0.2
orjson==3.6.3
packaging==21.0
packbits==0.6
pacman-mirrors==4.21.5
Panda3D==1.10.10
panda3d-gltf==0.13
panda3d-simplepbr==0.8
pandocfilters==1.4.3
parso==0.8.2
pathspec==0.9.0
pep517==0.11.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.3.2
pkginfo==1.7.1
platformdirs==2.3.0
pluggy==1.0.0
ply==3.11
polling==0.3.2
pre-commit==2.15.0
progress==1.6
prometheus-client==0.11.0
promise==2.3
prompt-toolkit==3.0.20
protobuf==3.17.3
psutil==5.8.0
ptyprocess==0.7.0
py==1.10.0
py3status==3.39
pyanime4k==2.2.7
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.7.1
PyBundle==1.0.6
pycairo==1.20.1
pycodestyle==2.7.0
pycparser==2.20
pycryptodome==3.10.1
pycups==2.0.1
pycurl==7.44.1
pydantic==1.8.2
pydocstyle==6.1.1
pyflakes==2.3.1
pygame==2.0.1
pygdbmi==0.10.0.1
pyglet==1.5.19
pygls==0.11.2
Pygments==2.10.0
PyGObject==3.40.1
pyinotify==0.9.6
pyjsparser==2.7.1
PyJWT==2.1.0
pylint==2.10.2
pyls-black==0.4.7
pyls-isort==0.2.2
pyls-mypy==0.1.8
pynvim==0.4.3
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyperclip==1.8.2
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
PyQt5-stubs==5.15.2.0
PyQtWebEngine==5.15.4
PyQtWebEngine-Qt5==5.15.2
pyrsistent==0.18.0
pysdl==1.0.6
PySide6==6.1.3
PySimpleGUI==4.47.0
pySmartDL==1.3.4
pysmbc==1.0.23
PySocks==1.7.1
pyte==0.8.0
pytesseract==0.3.8
python-bidi==0.4.2
python-dateutil==2.8.2
python-distutils-extra==2.39
python-dotenv==0.19.0
python-editor==1.0.4
python-engineio==4.2.1
python-json-logger==2.0.2
python-jsonrpc-server==0.4.0
python-language-server==0.36.2
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.2
python-mal==0.1.7
python-multipart==0.0.5
python-socketio==5.4.0
python-xlib==0.31
python3-openid==3.2.0
pytz==2021.1
PyWavelets==1.1.1
pyxdg==0.27
PyYAML==5.4.1
pyzmq==22.2.1
rados==2.0.0
ranger-fm==1.9.3
rbd==2.0.0
readchar==3.0.4
readme-renderer==29.0
regex==2021.8.28
reportlab==3.6.1
requests==2.26.0
requests-cache==0.7.4
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
requests-unixsocket==0.2.0
resolvelib==0.7.1
retrying==1.3.3
rfc3986==1.5.0
rgw==2.0.0
rope==0.19.0
rsa==4.7.2
Rx==3.2.0
scikit-image==0.18.3
scipy==1.7.1
screeninfo==0.7
SecretStorage==3.3.1
selenium==3.141.0
Send2Trash==1.8.0
sexpdata==0.0.3
shiboken2==5.15.2
shiboken6==6.1.3
shutilwhich==1.1.0
six==1.16.0
sniffio==1.2.0
snowballstemmer==2.1.0
social-auth-app-django==5.0.0
social-auth-core==4.1.0
soupsieve==2.2.1
speedtest-cli==2.1.3
spotipy==2.19.0
sqlparse==0.4.1
starlette==0.16.0
tabulate==0.8.9
tasklib==2.3.0
team==1.0
tekore==3.7.1
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.6.0
tensorflow-estimator==2.6.0
termcolor==1.1.0
terminado==0.11.1
tesseract==0.1.3
testpath==0.5.0
thefuck==3.31
tifffile==2021.8.30
toml==0.10.2
tomli==1.2.1
torch==1.9.0
torchvision==0.10.0
tornado==6.1
tox==3.24.3
tqdm==4.62.2
traitlets==5.1.0
translate==3.6.1
twine==3.4.2
typed-ast==1.4.3
typeguard==2.12.1
types-requests==2.25.6
types-setuptools==57.0.2
types-six==1.16.1
typing-extensions==3.10.0.2
tzlocal==3.0
udiskie==2.3.3
ueberzug==18.1.9
ufw==0.36
ujson==4.1.0
url-normalize==1.4.3
urllib3==1.26.6
ursina==4.0.0
uvicorn==0.15.0
uvloop==0.16.0
virtualenv==20.7.2
watchdog==2.1.5
watchgod==0.7
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.2.1
websockets==9.1
Werkzeug==2.0.1
widgetsnbextension==3.5.1
wpm==1.51.5
wrapt==1.12.1
xcffib==0.11.1
xpybutil==0.0.6
yapf==0.31.0
youtube-dl==2021.6.6
youtube-search-python==1.4.7
zipp==3.5.0
zope.event==4.5.0
zope.interface==5.4.0
