CompileFlags: # Tweak the parse settings
    Add: [
    #-xc++,
        -std=c99,
        -g,
        -pthread,
        -Wall,
        -Wextra,
        -pedantic,
        -ferror-limit=0,
        -ftemplate-backtrace-limit=0,
        -Wno-undeclared-selector
    ]
