#| ~/.inputrc: used by the GNU readline library.
#| Note that zsh doesn't use readline.
#| Use C-x C-r to reload this configuration file.

# be 8 bit clean
set input-meta on
set output-meta on
set convert-meta off

# lazy tab completion
#set show-all-if-ambiguous on
set completion-ignore-case on
set completion-map-case on
set colored-stats On

set editing-mode vi
set keymap vi-command

# Vim-style word movement: Alt+[w|e|b]
"\ew": forward-word
"\ee": forward-word
"\eb": backward-word

# Vim-style history search: Alt+[j|k]
"\ej": history-search-forward
"\ek": history-search-backward
"\M-j": history-search-forward
"\M-k": history-search-backward

#set editing-mode vi
$if mode=vi
  set keymap vi-command
  "gg": beginning-of-history
  "G": end-of-history
  "j": history-search-forward
  "k": history-search-backward
  set keymap vi-insert
  "kj": vi-movement-mode
  "\C-w": backward-kill-word
$endif

"\C-p":previous-history
"\C-n":next-history
"\C-a.":beginning-of-line
"\C-e.":end-of-line
"\C-l":clear-screen

