[Unit]
Description=Run sudo autostart commands

[Service]
Type=simple
ExecStart=/bin/sh /usr/local/bin/autostart.sh

[Install]
WantedBy=multi-user.target
