[Unit]
Description=Load Environment Variables

[Service]
Type=simple
ExecStart=/bin/sh 'source /usr/local/bin/envs.sh'

[Install]
WantedBy=multi-user.target
